*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(7,47,146,1) 30%, rgba(20,227,103,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page{
    background: linear-gradient(0deg, rgb(57, 93, 184) 4%, rgb(196, 218, 240) 100%);
    height: 80%;
    width: 80%;
    box-shadow: 10px 10px 60px black;
    position: relative;
    
    font-family: sans-serif;
      overflow: hidden;
    
}

.page>img{
    transform: rotate(40.8deg);
    position: absolute;
    

    width: 1200px;
    
    top: -86%;
    right: -39%;
}
.page>div{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 100px;
    gap: 10%;
}
.page>div>h1{
    font-weight: 500;
}
.page>div>.fill{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page>div>.fill>span{
    display: flex;
    flex-direction: column;
}
.page>div>.fill>span:nth-child(4){
    flex-direction: row;

}
.page>div>.fill>span>input{
    width: 305px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 234, 204);
    margin-bottom: 5px;
    outline: none;
    color: #003daf;
}
.page>div>.fill>span>lable{
    font-size: 15px;
}
.page>div>.fill>span:nth-child(4)>input{
    width: 20px;
    margin-right: 5px;
}

.page>div>.fill>button{
    width: 305px;
    background-color: #c8ec93;
    padding: 5px 15px;
    border-radius: 25px;
}